body{
    background-color: rgb(8, 8, 8);
}


.letterBox {

    width: 50px;
    border-bottom: 2px solid whitesmoke;
    margin-left: 30px;
    font-size: 50px;
    text-align: center;
    color: whitesmoke;
}

.secretWord {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.keyboard {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 190px;
}

.lettersLeft {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}

.letterButton {
    width: 50px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.letterButton button {
    width: 100%;
    height: 100%;
    font-size: 40px;
    border: none;
    background-color: rgb(8, 8, 8);
    transition: all .5s;
    color: whitesmoke;
}

.letterButton button:hover{
    background-color: whitesmoke;
    scale: 115%;
    color: black;
}

.playerInfo{
    text-align: center;
}

.endGame{
    color: whitesmoke;
    text-align: center;
    
}