body{
    background-color: rgb(8, 8, 8);
    color: whitesmoke;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

header{
    text-align: center;
}

header > h1{
    font-size: 70px;
}

.config{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
    font-size: 20px;
    
}

.config label > input{
    background-color: transparent;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    font-size: 20px;
}

.difLevel{
    display: flex;
    flex-direction: column;
}

.config > input{
    background-color: transparent;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    font-size: 30px;
    transition: all .25s;
}

.config >input:hover{
    background-color: whitesmoke;
    color: rgb(8, 8, 8);
    scale: 130%;
}

.letterBox {

    width: 50px;
    border-bottom: 2px solid whitesmoke;
    margin-left: 30px;
    font-size: 50px;
    text-align: center;
    color: whitesmoke;
}

.secretWord {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.keyboard {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 90px;
}

.lettersLeft {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}

.letterButton {
    width: 50px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.letterButton button {
    width: 100%;
    height: 100%;
    font-size: 40px;
    border: none;
    background-color: rgb(8, 8, 8);
    transition: all .5s;
    color: whitesmoke;
}

.letterButton button:hover{
    background-color: whitesmoke;
    scale: 115%;
    color: black;
}

.playerInfo{
    text-align: center;
}

.endGame{
    color: whitesmoke;
    text-align: center;
    
}

.endGame button{
    font-size: 15px;
    margin: 10px;
    margin-bottom: 50px;
    background-color: transparent;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    transition: all .5s;
}

.endGame button:hover{
scale: 120%;
color: rgb(8, 8, 8);
background-color: whitesmoke;
}