.opciones{
    background-color: lightgoldenrodyellow;
    margin-left: 50%;
    margin-top: 10%;
    width: 80%;
    transform: translate(-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
body{
    background-color: bisque;
}
h1{
    margin: 5%;
}
form{
    padding: 5%;
    display: flex;
    
}
button{
    padding: 5px;
    background-color: beige;
    margin: 10px;
}
button:hover{
    background-color: blanchedalmond;
    transform: translate(0%,-5%);
}

td{
    border: 2px solid black;
    border-collapse: collapse;
    /* background-color: aquamarine; */
    
}
.content{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
table{
    margin-bottom: 20px;
    border-collapse: collapse;
    /* width: 60px;
    height: 60px; */
}