.info{
    background-color: lightgoldenrodyellow;
    margin-left: 50%;
    margin-top: 10%;
    width: 50%;
    transform: translateX(-50%);
    justify-content: left;
    position: relative;
    
}
body{
    background-color: bisque;
}
table{
    /* border: 3px solid black;*/
    border-collapse: collapse; 
}
th{
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    border-collapse: collapse;
}
.diss{
    display: inline-block;
    width: 100%;
}